				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2>Steckbrief des Baums</h2>
                        <div class="index align-left">

                            <!-- Text -->
                                <section>
                                    <header>
                                        <h3>Verwendete Holzarten</h3>
                                    </header>
                                    <div class="content">

                                        <p>Fichte, Lärche, Eiche und Ahorn aus unserer Gemeinde. Nur der Zwischenboden von ca. 12 m<sup>2</sup> besteht aus vorgefertigten Brettschichtplatten aus CH-Holz.</p>

                                    </div>
                                </section>
                                <section>
                                    <header>
                                        <h3>Baumkrone</h3>
                                    </header>
                                    <div class="content">

                                        <p>Die Baumkrone bietet Sitzplatz für 10 Personen, die mit Blick nach oben, in die Weite, ihre innere Tür öffnen können für eigene Gedanken, Träume und Inspirationen.</p>

                                    </div>
                                </section>
                                <section>
                                    <header>
                                        <h3>Bauzeit</h3>
                                    </header>
                                    <div class="content">

                                        <p>Mit vielen Unterbrüchen ca. 4 – 5 Jahrringe lang.</p>
                                    </div>
                                </section>


                        </div>


                    </div>
                    <p><b>Hinweis</b>:  «Einfach Baumig» ist dieses Jahr mit der Nummer 23 Teil des Ueberstorfer Adventskalenders. </p><p>An diesem Abend (17-22 Uhr) bin ich mit einer kleinen Überraschung vor Ort.</p>
                </section>
