<section class="wrapper style1 align-center">
    <div class="inner">
        <header>
            <h2>Galerie</h2>
        </header>
        <div class="index align-left">

            <!-- Text -->
            <section>
                <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-loop="true" data-fit="cover" data-width="100%" data-max-width="100%">
                    <img src="images/gallery/finished/gallery014-min.jpg">
                    <img src="images/gallery/finished/fin12-min.jpg">
                    <img src="images/gallery/finished/fin8-min.jpg">
                    <img src="images/gallery/finished/IMG_5282-min.jpg">
                    <img src="images/gallery/finished/IMG_5154-min.jpg">
                    <img src="images/gallery/finished/IMG_5277-min.jpg">
                    <img src="images/gallery/finished/IMG_4852-min.jpg">
                    <img src="images/gallery/finished/IMG_4872-min.jpg">
                    <img src="images/gallery/finished/IMG_5302-min.jpg">
                    <img src="images/gallery/finished/IMG_4846-min.jpg">
                    <img src="images/gallery/finished/IMG_4847-min.jpg">
                    <img src="images/gallery/finished/proc22-min.jpg">
                    <img src="images/gallery/finished/IMG_4885-min.jpg">
                    <img src="images/gallery/finished/proc21-min.jpg">
                    <img src="images/gallery/finished/gallery015-min.jpg">
                    <img src="images/gallery/finished/gallery016-min.jpg">
                    <img src="images/gallery/finished/fin88-min.jpg">
                    <img src="images/gallery/finished/fin10-min.jpg">
                    <img src="images/gallery/finished/fin7-min.jpg">
                    <img src="images/gallery/finished/fin9-min.jpg">
                    <img src="images/gallery/finished/fin_fin-min.jpg">
                </div>
            </section>
        </div>
    </div>
</section>
