<section class="wrapper style1 align-center">
  <div class="inner">
      <header>
          <h2>Entstehung</h2>
      </header>
      <div class="index align-left">

          <!-- Text -->
          <section>
              <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-loop="true" data-fit="contain" data-width="100%" data-max-width="100%">
                      <img src="images/gallery/process/gallery001-min.jpg" />
                      <img src="images/gallery/process/gallery002-min.jpg" />
                      <img src="images/gallery/process/gallery003-min.jpg" />
                      <img src="images/gallery/process/DSC_0771-min.jpg" />
                      <img src="images/gallery/process/DSC_0776-min.jpg" />
                      <img src="images/gallery/process/004-min.jpg" />
                      <img src="images/gallery/process/gallery004-min.jpg" />
                      <img src="images/gallery/process/gallery006-min.jpg" />
                      <img src="images/gallery/process/gallery005-min.jpg" />
                      <img src="images/gallery/process/gallery007-min.jpg" />
                      <img src="images/gallery/process/IMG_4746-min.jpg" />
                      <img src="images/gallery/process/gallery008-min.jpg" />
                      <img src="images/gallery/process/proc1-min.jpg" />
                      <img src="images/gallery/process/gallery009-min.jpg" />
                      <img src="images/gallery/process/IMG_4792-min.jpg" />
                      <img src="images/gallery/process/proc88-min.jpg" />
                      <img src="images/gallery/process/IMG_4810-min.jpg" />
                      <img src="images/gallery/process/IMG_4835-min.jpg" />
                      <img src="images/gallery/process/gallery010-min.jpg" />
                      <img src="images/gallery/process/IMG_4911-min.jpg" />
                      <img src="images/gallery/process/proc2-min.jpg" />
                      <img src="images/gallery/process/IMG_5183-min.jpg" />
                      <img src="images/gallery/process/IMG_4970-min.jpg" />
                      <img src="images/gallery/process/IMG_5149-min.jpg" />
                      <img src="images/gallery/process/IMG_5021-min.jpg" />
                      <img src="images/gallery/process/IMG_5040-min.jpg" />
                      <img src="images/gallery/process/IMG_5091-min.jpg" />
                      <img src="images/gallery/process/proc3-min.jpg" />
                      <img src="images/gallery/process/gallery012-min.jpg" />
                      <img src="images/gallery/process/IMG_5304-min.jpg" />
                      <img src="images/gallery/process/IMG_5314-min.jpg" />
                      <img src="images/gallery/process/IMG_5326-min.jpg" />
                      <img src="images/gallery/process/proc5-min.jpg" />
                      <img src="images/gallery/process/gallery013-min.jpg" />

              </div>
          </section>
      </div>
  </div>
</section>
