<section class="wrapper style1 align-center">
  <div class="inner">
      <header>
          <h2>Entstehung</h2>
      </header>
      <div class="index align-left">

          <!-- Text -->
          <section>
              <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-loop="true" data-fit="cover" data-width="100%" data-max-width="100%">
                  <img src="images/gallery/process/gallery001-min.jpg" />
                  <img src="images/gallery/process/gallery002-min.jpg" />
                  <img src="images/gallery/process/gallery003-min.jpg" />
                  <img src="images/gallery/process/DSC_0771-min.jpg" />
                  <!-- <p>
                      <a href="images/gallery/process/gallery001-min.jpg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.gallery001-min.jpg"></a>
                      <a href="images/gallery/process/gallery002-min.jpg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.gallery002-min.jpg"></a>
                      <a href="images/gallery/process/gallery003-min.jpg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.gallery003-min.jpg"></a>
                      <a href="images/gallery/process/DSC_0771-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.DSC_0771-min.JPG"></a>
                      <a href="images/gallery/process/DSC_0776-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.DSC_0776-min.JPG"></a>
                      <a href="images/gallery/process/004-min.jpg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.004-min.jpg"></a>
                      <a href="images/gallery/process/gallery004-min.jpg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.gallery004-min.jpg"></a>
                      <a href="images/gallery/process/gallery006-min.jpg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.gallery006-min.jpg"></a>
                      <a href="images/gallery/process/gallery005-min.jpg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.gallery005-min.jpg"></a>
                      <a href="images/gallery/process/gallery007-min.jpg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.gallery007-min.jpg"></a>
                      <a href="images/gallery/process/IMG_4746-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.IMG_4746-min.JPG"></a>
                      <a href="images/gallery/process/gallery008-min.jpg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.gallery008-min.jpg"></a>
                      <a href="images/gallery/process/proc1-min.jpeg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.proc1-min.jpeg"></a>
                      <a href="images/gallery/process/gallery009-min.jpg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.gallery009-min.jpg"></a>
                      <a href="images/gallery/process/IMG_4792-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.IMG_4792-min.JPG"></a>
                      <a href="images/gallery/process/proc88-min.jpeg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.proc88-min.jpeg"></a>
                      <a href="images/gallery/process/IMG_4810-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.IMG_4810-min.JPG"></a>
                      <a href="images/gallery/process/IMG_4835-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.IMG_4835-min.JPG"></a>
                      <a href="images/gallery/process/gallery010-min.jpg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.gallery010-min.jpg"></a>
                      <a href="images/gallery/process/IMG_4911-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.IMG_4911-min.JPG"></a>
                      <a href="images/gallery/process/proc2-min.jpeg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.proc2-min.jpeg"></a>
                      <a href="images/gallery/process/IMG_5183-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.IMG_5183-min.JPG"></a>
                      <a href="images/gallery/process/IMG_4970-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.IMG_4970-min.JPG"></a>
                      <a href="images/gallery/process/IMG_5149-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.IMG_5149-min.JPG"></a>
                      <a href="images/gallery/process/IMG_5021-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.IMG_5021-min.JPG"></a>
                      <a href="images/gallery/process/IMG_5040-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.IMG_5040-min.JPG"></a>
                      <a href="images/gallery/process/IMG_5091-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.IMG_5091-min.JPG"></a>
                      <a href="images/gallery/process/proc3-min.jpeg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.proc3-min.jpeg"></a>
                      <a href="images/gallery/process/gallery012-min.jpg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.gallery012-min.jpg"></a>
                      <a href="images/gallery/process/IMG_5304-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.IMG_5304-min.JPG"></a>
                      <a href="images/gallery/process/IMG_5314-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.IMG_5314-min.JPG"></a>
                      <a href="images/gallery/process/IMG_5326-min.JPG" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.IMG_5326-min.JPG"></a>
                      <a href="images/gallery/process/proc5-min.jpeg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.proc5-min.jpeg"></a>
                      <a href="images/gallery/process/gallery013-min.jpg" data-lightbox="roadtrip"><img src="images/gallery/process/thumb.gallery013-min.jpg"></a>

                  </p> -->
              </div>
          </section>
      </div>
  </div>
</section>
