<!-- Items -->
<section class="wrapper style1 align-center">
    <div class="inner">
        {{ with .title }}<h2>{{ . }}</h2>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        <div class="items {{ .style }}">
            {{ range .items }}
                {{ partial "item" . }}
            {{ end }}
        </div>
    </div>
    <p><b>Hinweis</b>:  «Einfach Baumig» ist dieses Jahr mit der Nummer 23 Teil des Ueberstorfer Adventskalenders. <br/> An diesem Abend (17-22 Uhr) bin ich mit einer kleinen Überraschung vor Ort.</p>
</section>